# PinStay extension files
PinStay original.png
makeicons.bat
pinstay.zip
PinStay Google Form Banner.png
PinStay.mp4

# Common files to ignore
*.zip
*.log
.DS_Store
Thumbs.db

# Promotional materials
promo/ 